body{
  background-image: url("image1.jpg")
}
.well{
  margin-top: 50px;
  border-color: #efd4ba;
  border-radius: 10px;
  border-width: 10px;
  font-size: 18px;
  font-color: #703a08;
}
#title{
  color: #e0840b;
  margin-top: 35px;
  font-family: cursive;
  }
#calculate_button{
  border-color: #996434;
  background-color: #efdece;
}
#customization{
  color: #edaf76;
  font-weight: bold;
  font-size: 38px;
  font-family: cursive;
}
#order_button{
  border-color: #996434;
  background-color: #efdece;
  width: 15%;
  color: #e85d06;
  font-size: 22px;
  border-width: 5px;
  border-color: #7f3202;
  border-radius: 10px;
  font-family: cursive;
}
#ordered_message{
  margin-top: 30px;
  width: 30%;
  font-size: 20px;
  border-radius: 10px;
  border-width: 10px;
  font-color: #703a08;
  display: none;
  font-family: cursive;
  }
#ordered{
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  font-family: cursive;
  color: #f28f52;
  display: none;
}
#results{
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  font-family: cursive;
  color: #f28f52;
  display: none;
}
